@model SikkimRepository.Entities.CustomModels.ImageAlbumManageModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutGenDetail.cshtml";
}
@section css{
    <link href="~/Content/gen-pagination.css" rel="stylesheet" />
}
<div class="container">
    <div class="row sec-spacer-50">
        <div class="col-lg-8 col-md-8 shadow-lg">
            <div class="abt-title mb-3 mt-2 text-center">
                <h2>Images</h2>
                @*<p>Considering desire as primary motivation for the generation support.</p>*@
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 sidebar-area">
                    <div class="search-box">
                        <form method="get" action="/images/index" id="sForm">
                            <div class="box-search">
                                <input class="form-control" placeholder="Search by Image Title.." name="SearchTerm" id="SearchTerm" type="text">
                                <a href="/images/index" class="btn btn-default invisible" id="clearsearch">View All</a>
                                <button class="btn btn-default" type="submit" id="search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="">
                <div id="DataGrid">
                    @Html.Partial("_pvImageAlbumList", Model)
                </div>
            </div>
            @if (Model.GenImageAlbums.TotalRecords > 3)
            {
                <div class="col-md-12 text-center">
                    <div id="pagination"></div>
                </div>
            }
        </div>
        <div class="col-lg-4 col-md-12">
            @foreach (var Category in Model.GenComponentModelList.GroupBy(x => x.CategoryName))
            {
                <div class="sidebar-area">
                    <h3 class="title text-uppercase">@Category.Key</h3>
                    <div id="accordion" class="rs-accordion-style1">
                        @foreach (var Component in Category.GroupBy(x => x.ComponentID))
                        {
                            <div class="card">
                                <div class="card-header mb-1" id="@Component.Key">
                                    <h3 class="acdn-title collapsed" data-toggle="collapse" data-target="#C_@Component.Key" aria-expanded="false" aria-controls="@Component.Key">
                                        @Component.Select(x => x.ComponentName).FirstOrDefault()
                                    </h3>
                                </div>
                                <div id="C_@Component.Key" class="collapse" aria-labelledby="@Component.Key" data-parent="#accordion">
                                    <div class="card-body">
                                        <ol>
                                            @foreach (var subitem in Component.GroupBy(x => x.SubComponentID))
                                            {
                                                if (subitem.Count() != 0)
                                                {
                                                    <li>
                                                        <a href="/Images/index?SCID=@subitem.Key">@subitem.Select(x => x.SubComponentName).FirstOrDefault()</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li>
                                                        No Sub Component Found.
                                                    </li>
                                                }
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/gen-pagination.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var showChar = 100;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "Read more";
            var lesstext = "Read less";
            var setreadmore = function () {
                $('.more').each(function () {
                    var content = $(this).html();

                    if (content.length > showChar) {

                        var c = content.substr(0, showChar);
                        var h = content.substr(showChar, content.length - showChar);

                        var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                        $(this).html(html);
                    }

                });
            }
            var setreadmorelink = function () {
                $(document).on('click', '.morelink', function () {
                    if ($(this).hasClass("less")) {
                        $(this).removeClass("less");
                        $(this).html(moretext);
                    } else {
                        $(this).addClass("less");
                        $(this).html(lesstext);
                    }
                    $(this).parent().prev().toggle();
                    $(this).prev().toggle();
                    return false;
                });
            }
            var initPaging = function (totalPage) {
                $('#pagination').bootpag({
                    total: totalPage,
                    maxVisible: 5,
                    leaps: true,
                    firstLastUse: true,
                    first: '<',
                    last: '>',
                    wrapClass: 'pagination',
                    activeClass: 'page-active',
                    disabledClass: 'disabled',
                    nextClass: 'next',
                    prevClass: 'prev',
                    lastClass: 'last',
                    firstClass: 'first'
                }).on("page", function (event, num) {
                    var options = {
                        href: '/images/index',
                        //data: $('#sForm').serialize(),
                        data: { PageNo: num },
                        type: 'get'
                    };
                    $.ajax(options).done(function (data) {
                        $('#DataGrid').empty().append(data);
                        setreadmore();
                    }).fail(function () {
                        alert('Error loading content..');
                    });
                    return false;
                });
            }

            var totalRec = '@Model.GenImageAlbums.TotalRecords';
            if (totalRec != 0) {
                var totalPage = Math.ceil(totalRec / 3);
                initPaging(totalPage);
            }
            $('#search').on('click', function (e) {
                e.preventDefault();
                var $form = $('#sForm');
                $('#search').addClass('invisible')
                $('#clearsearch').removeClass('invisible');
                var options = {
                    href: $form.attr('action'),
                    type: $form.attr("method")
                    , data: $form.serialize()
                };
                $.ajax(options).done(function (data) {
                    $('#DataGrid').empty().append(data);
                    $('#pagination').empty();
                    var totalRec = $('input[name="totalRecords"]').val();
                    if (totalRec > 10) {
                        var totalPage = Math.ceil(totalRec / 10);
                        initPaging(totalPage);
                    }
                }).error(function () {
                    alert('Error loading content..');
                });
                return false;
            });
            // Configure/customize these variables.
            setreadmore();
            setreadmorelink();
        });
    </script>
}



