@model SikkimRepository.Entities.CustomModels.CaseStudyManageModel
@{
    ViewBag.Title = "Add Case Study";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<h1 class="h3 mb-2 text-gray-800">Case Study</h1>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-fw fa-hand-holding"></i> Case Study <small class="text-secondary text-sm-left"><i class="fas fa-fw fa-caret-right"></i>Add</small></h6>
    </div>
    <div class="card-body pb-4">
        @using (Html.BeginForm("Add", "casestudy", new { @area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12 mb-3">
                <i>Please note all fields marked as <strong class="text-danger">*</strong> are mandatory fields.</i>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CaseStudy.ComponentID, new { @class = "control-label required" })
                        @Html.DropDownListFor(m => m.CaseStudy.ComponentID, new SelectList(Model.Components, "ComponentID", "ComponentName"), "-- Select Component --", new { @class = "form-control required", id = "ddcomp" })
                        @Html.ValidationMessageFor(m => m.CaseStudy.ComponentID)
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CaseStudy.SubComponentID, new { @class = "control-label required" })
                        @Html.DropDownListFor(m => m.CaseStudy.SubComponentID, new SelectList(string.Empty), "-- Select Sub Component --", new { @class = "form-control", id = "ddsubcomp" })
                        @Html.ValidationMessageFor(m => m.CaseStudy.SubComponentID)
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CaseStudy.SchoolID, new { @class = "control-label required" })
                        @if (User.IsInRole("DeptAdmin"))
                        {
                            @Html.DropDownListFor(m => m.CaseStudy.SchoolID, new SelectList(Model.SchoolList, "SchoolID", "SchoolName", @ViewBag.SchoolID), "-- Select School --", new { @class = "form-control", id = "school" })
                        }
                        else
                        {
                            @Html.DropDownListFor(m => m.CaseStudy.SchoolID, new SelectList(Model.SchoolList, "SchoolID", "SchoolName", @ViewBag.SchoolID), "-- Select School --", new { @class = "form-control", id = "school", @disabled = "disabled" })
                        }
                        @Html.ValidationMessageFor(m => m.CaseStudy.SchoolID)
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CaseStudy.CaseStudyDate, new { @class = "control-label required" })
                        @Html.TextBoxFor(m => m.CaseStudy.CaseStudyDate, new { @class = "form-control", @autocomplete = "off", @placeholder = "Select Date", @id = "progdate" })
                        @Html.ValidationMessageFor(m => m.CaseStudy.CaseStudyDate)
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.CaseStudy.CaseStudyTitle, new { @class = "control-label required" })
                        @Html.TextBoxFor(m => m.CaseStudy.CaseStudyTitle, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Title" })
                        @Html.ValidationMessageFor(m => m.CaseStudy.CaseStudyTitle)
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.CaseStudy.CaseStudyDesc, new { @class = "control-label required" })
                        @Html.TextAreaFor(m => m.CaseStudy.CaseStudyDesc, new { @class = "form-control", @autocomplete = "off", @placeholder = "Enter Description" })
                        @Html.ValidationMessageFor(m => m.CaseStudy.CaseStudyDesc)
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body shadow-sm">
                                <div class="form-group text-center">
                                    <label class="control-label"> Upload Case Study File</label>
                                    <input type="file" name="docFile" style="width:100%" />
                                    @Html.ValidationMessage("FileErr")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action-div action-style">
                <a href="/admin/casestudy/index" class="btn btn-secondary btn-user">Back To List</a>
                <button type="submit" class="btn btn-primary btn-user float-right">Save</button>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>

@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>

@section scripts{
    <script src="~/Content/DateTimePicker/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#progdate').datetimepicker({
                format: "dd M yyyy",
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0

            })
        });
        $("#ddcomp").on('change', function () {

            setSubComp();
        });
        function setSubComp(ComponentID) {
            var id = $('#ddcomp').val();
            $('#ddsubcomp').empty().append('<option value="">-- Select SubComponent --</option>')
            if (id !== '') {
                var options = {
                    url: '/admin/casestudy/GetSubComp',
                    type: 'get',
                    data: { id: id },
                }
                $.ajax(options).done(function (data) {
                    $.each(data, function (key, item) {
                        $('#ddsubcomp').append('<option value="' + item.SubComponentID + '">' + item.SubComponentName + '</option>');
                        $('#ddsubcomp').val('');
                    });
                    //if (blockID) {
                    //    $('#ddsubcomp').select2('val', SubComponentID);
                    //}
                });
            } else { $('#ddsubcomp').val(''); }
        }
    </script>

}
