@model SikkimRepository.Entities.CustomModels.GenViewListByDistrictCode

<div class="single-blog-details mb-3">
    <div class="author-comment">
        @if (@Model.TestimonialsListByDist.Count() > 0)
        {
            foreach (var item in @Model.TestimonialsListByDist)
            {
                <ul>
                    <li class="border border-bottom-success">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="image-comments">
                                    <img src="@item.ImagePath" alt="Photo" style="height:90px;border:solid 2px #ccc" />
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                <span class="reply">
                                    <span class="date"><i class="fa fa-calendar" aria-hidden="true"></i> @item.TestimonialDate.ToString("dd MMM yyyy")</span>
                                    @*<span class="ml-1"><a href="@item.CaseStudyFilePath" target="_blank"><i class="fa fa-search" aria-hidden="true"></i> View PDF</a></span>*@
                                </span>
                                <div class="dsc-comments">
                                    <span class="course-category"><a href="#">@item.ComponentName <small>> @item.SubComponentName</small></a></span>
                                    <h4>@item.Name</h4>
                                    <span class="more">@item.Remarks</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            }

        }
        else
        {
            <h3>No record found..</h3>
        }
    </div>
    <input type="hidden" name="totalRecords" value="@Model.TotalRecords" />
</div>

