<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sikkim Repository System</title>
    <link rel="shortcut icon" href="~/Content/images/icon.jpg">
    @Styles.Render("~/Content/homecss")
    <link href="~/Content/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/Content/gencss/animate.css" rel="stylesheet" />
    <link href="~/Content/gencss/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/gencss/slick.css" rel="stylesheet" />
    <link href="~/Content/gencss/rsmenu-main.css" rel="stylesheet" />
    <link href="~/Content/gencss/rsmenu-transitions.css" rel="stylesheet" />
    <link href="~/Content/gencss/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/font/flaticon.css" rel="stylesheet" />
    <link href="~/Content/font/fonts2/flaticon.css" rel="stylesheet" />
    <link href="~/Content/gencss/off-canvas.css" rel="stylesheet" />
    <link href="~/Content/gencss/style.css" rel="stylesheet" />
    <link href="~/Content/gencss/responsive.css" rel="stylesheet" />
</head>
<body class="home2">

    <!--Full width header Start-->
    <div class="full-width-header">
        <!-- Toolbar Start -->
        <div class="rs-toolbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="rs-toolbar-left">
                            <div class="welcome-message">
                                <i class="fa fa-bank"></i><span>Welcome to Sikkim Repository System</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rs-toolbar-right">
                            @*<div class="toolbar-share-icon">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>*@
                            <a href="/account/login" class="apply-btn">LOGIN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Toolbar End -->
        <!--Header Start-->
        <header id="rs-header" class="rs-header">
            <!-- Header Top Start -->
            <div class="rs-header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="logo-area">
                                <a href="/home/index"><img src="/Content/images/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="header-contact">
                                        <div id="address-details" class="widget-text">
                                            &nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="header-contact">
                                        <div id="phone-details" class="">
                                            <img src="~/Content/images/sahagun.png" alt="sahagun" />
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="header-contact">
                                        <div id="info-details" class="widget-text ">
                                            <img src="~/Content/images/samagrasiksha.png" alt="siksha" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container">
                    <div class="main-menu">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- <div id="logo-sticky" class="text-center">
                                    <a href="index.html"><img src="/Content/images/logo.png" alt="logo"></a>
                                </div> -->
                                <a class="rs-menu-toggle"><i class="fa fa-bars"></i>Menu</a>
                                <nav class="rs-menu">
                                    <ul class="nav-menu">
                                        <!-- Home -->
                                        <li class="current-menu-item current_page_item menu-item-no-children">
                                            <a href="/home/index" class="home border-0">Home</a>
                                        </li>
                                        <!-- End Home -->
                                        <!-- Drop Down Pages Start -->
                                        <li  class="menu-item-no-children">
                                            <a href="/testimonials/index" class="border-0">Testimonials</a>
                                        </li>
                                        <!--Drop Down Pages End -->
                                        <!--Courses Menu Start-->
                                        <li  class="menu-item-no-children">
                                            <a href="/videos/index" class="border-0">Videos</a>
                                        </li>
                                        <!--Courses Menu End-->
                                        <!--Events Menu Start-->
                                        <li  class="menu-item-no-children">
                                            <a href="/images/index" class="border-0">Images</a>
                                        </li>
                                        <!--Events Menu End-->
                                        <!-- Drop Down -->
                                        <li  class="menu-item-no-children">
                                            <a href="/casestudies/index" class="border-0">Case Studies</a>
                                        </li>
                                        <!--End Icons -->
                                        <!--blog Menu Start-->
                                        <li  class="menu-item-no-children">
                                            <a href="/home/about" class="border-0">About Us</a>
                                        </li>
                                        <!--blog Menu End-->
                                        <!--Contact Menu Start-->
                                        <li  class=""> <a href="/home/contact">Contact</a></li>
                                        <!--Contact Menu End-->
                                    </ul>
                                </nav>
                                @*<div class="right-bar-icon rs-offcanvas-link text-right">
                                       <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#"><i class="fa fa-search"></i></a>
                                        <a id="nav-expander" class="nav-expander fixed"><i class="fa fa-bars fa-lg white"></i></a>
                                    </div>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->
    <!-- Begin Page Content -->
    <div class="">
        @RenderBody()
    </div>
    <!-- /.container-fluid -->
    <!-- Footer Start -->
    <footer id="rs-footer" class="bg3 rs-footer">
        <div class="container">
            <!-- Footer Address -->
            <div>
                <div class="row footer-contact-desc">
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <a href="https://sikkim.gov.in" target="_blank">
                                <img src="~/Content/images/sikkim_gov_logo.png" />
                                <h4 class="contact-title">Govt. of Sikkim</h4>
                            </a>
                            <p class="contact-desc">
                                Official Website<br>
                                <a href="https://sikkim.gov.in" target="_blank">www.sikkim.gov.in</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <div class="ml-3">
                                <a href="https://repository.seshagun.nic.in/" target="_blank">
                                    <img src="~/Content/images/MHRD_logo.png" />
                                    <h4 class="contact-title">Dept. of School Education & Literacy</h4>
                                </a>
                                <p class="contact-desc">
                                    Official Website(GOI)<br>
                                    <a href="https://repository.seshagun.nic.in/" target="_blank">www.repository.seshagun.nic.in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-inner">
                            <a href="http://www.sikkimhrdd.org/" target="_blank">
                                <img src="~/Content/images/sikkim_Edu_logo.png" />
                                <h4 class="contact-title">Sikkim Education Department</h4>
                            </a>
                            <p class="contact-desc">
                                Official Website<br>
                                <a href="http://www.sikkimhrdd.org/" target="_blank">www.sikkimhrdd.org</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12">
                        <div class="about-widget">
                            <img src="/Content/images/logo-footer.png" alt="Footer Logo">
                            <p class="margin-remove">This portal is a rich repository of good practices that focuses on positive stories, developments and innovations initiated across all States and UTs of India that are driving performance improvements in the area of School Education. </p>
                            @*<p class="margin-remove">These innovative practices are documented in the form of case studies, videos, testimonials and images. Content is easily searchable by State, Union Territory or by the Samagra Shiksha  components that they fall under.</p>*@
                        </div>
                    </div>
                    @*<div class="col-lg-3 col-md-12">
                            <h5 class="footer-title">COMPONENTS</h5>
                            <div class="recent-post-widget">
                                <div class="post-item">
                                    <div class="post-date">
                                        <span>28</span>
                                        <span>June</span>
                                    </div>
                                    <div class="post-desc">
                                        <h5 class="post-title"><a href="#">While the lovely valley team work</a></h5>
                                        <span class="post-category">Keyword Analysis</span>
                                    </div>
                                </div>
                                <div class="post-item">
                                    <div class="post-date">
                                        <span>28</span>
                                        <span>June</span>
                                    </div>
                                    <div class="post-desc">
                                        <h5 class="post-title"><a href="#">I must explain to you how all this idea</a></h5>
                                        <span class="post-category">Spoken English</span>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-lg-3 col-md-12">
                        <h5 class="footer-title">LINK</h5>
                        <ul class="sitemap-widget">
                            <li class="active"><a href="/home/index"><i class="fa fa-angle-right" aria-hidden="true"></i>Home</a></li>
                            <li><a href="/testimonials/index"><i class="fa fa-angle-right" aria-hidden="true"></i>Testimonials</a></li>
                            <li><a href="/videos/index"><i class="fa fa-angle-right" aria-hidden="true"></i>Videos</a></li>
                            <li><a href="/images/index"><i class="fa fa-angle-right" aria-hidden="true"></i>Images</a></li>
                            <li><a href="/casestudies/index"><i class="fa fa-angle-right" aria-hidden="true"></i>Case Studies</a></li>
                            <li><a href="/home/index"><i class="fa fa-angle-right" aria-hidden="true"></i>About Us</a></li>
                            <li><a href="/home/contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4  col-md-12">
                        <h5 class="footer-title">LEGAL</h5>
                        <ul class="sitemap-widget">
                            <li class="active"><a href="@Url.Action("LegalPages","Home",new { id="Privicy Policy"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Privicy Policy</a></li>
                            <li><a href="@Url.Action("LegalPages","Home",new { id="Terms and Conditions"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                            <li><a href="@Url.Action("LegalPages","Home",new { id="Copyright Policy"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Copyright Policy</a></li>
                            @*<li><a href="@Url.Action("LegalPages","Home",new { id="Terms & Conditions"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Hyperlink Policy</a></li>*@
                            <li><a href="@Url.Action("LegalPages","Home",new { id="Disclaimer"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Disclaimer</a></li>
                            <li><a href="@Url.Action("LegalPages","Home",new { id="Accessibility statement"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Accessibility statement</a></li>
                            @*<li><a href="@Url.Action("LegalPages","Home",new { id="Terms & Conditions"})"><i class="fa fa-angle-right" aria-hidden="true"></i>Sitemap</a></li>*@
                        </ul>
                    </div>
                    @*<div class="col-lg-3 col-md-12">
                            <h3 class="footer-title">FLICKR FEED</h3>
                            <ul class="flickr-feed">
                                <li><a href="#"><img src="/Content/images/flickr/1.jpg" alt="Project Image"></a></li>
                                <li><a href="#"><img src="/Content/images/flickr/2.jpg" alt="Project Image"></a></li>
                                <li><a href="#"><img src="/Content/images/flickr/3.jpg" alt="Project Image"></a></li>
                                <li><a href="#"><img src="/Content/images/flickr/4.jpg" alt="Project Image"></a></li>
                                <li><a href="#"><img src="/Content/images/flickr/5.jpg" alt="Project Image"></a></li>
                                <li><a href="#"><img src="/Content/images/flickr/6.jpg" alt="Project Image"></a></li>
                            </ul>
                        </div>*@
                </div>
                @*<div class="footer-share">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        </ul>
                    </div>*@
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="copyright">
                    <p>© 2020 <a href="#">Education Department, Govt. of Sikkim</a>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>

    <!-- Canvas Menu start -->
    <nav class="right_menu_togle">
        <div class="close-btn"><span id="nav-close" class="text-center">x</span></div>
        <div class="canvas-logo">
            <a href="index.html"><img src="/Content/images/logo-white.png" alt="logo"></a>
        </div>
        <ul class="sidebarnav_menu list-unstyled main-menu">
            <!--Home Menu Start-->
            <li class="current-menu-item menu-item-has-children">
                <a href="#">Home</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="index.html">Home One<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index2.html">Home Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index3.html">Home Three<span class="icon"></span></a></li>
                    <li class="sub-nav active" class="sub-nav"><a href="index4.html">Home Four<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Home Menu End-->
            <!--About Menu Start-->
            <li class="menu-item-has-children">
                <a href="#">About Us</a>
                <ul class="list-unstyled">
                    <li class="sub-nav active"><a href="index.html">About One<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index2.html">About Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="index3.html">About Three<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--About Menu End-->
            <!--Pages Menu Start-->
            <li class="menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="list-unstyled">
                    <li class="sub-nav active"><a href="teachers.html">Teachers<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="teachers-without-filter.html">Teachers Without Filter<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="teachers-single.html">Teachers Single<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="gallery.html">Gallery One<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="gallery2.html">Gallery Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="gallery3.html">Gallery Three<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="shop.html">Shop<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="shop-details.html">Shop Details<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="cart.html">Cart<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="shop.html">Shop<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="error-404.html">Error 404<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Pages Menu End-->
            <!--Courses Menu Star-->
            <li class="menu-item-has-children">
                <a href="#">Courses</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="courses.html">Courses<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="courses2.html">Courses Two<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="courses-details.html">Courses Details<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Courses Menu End-->
            <!--Events Menu Star-->
            <li class="menu-item-has-children">
                <a href="#">Events</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="events.html">Events<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="events-details.html">Events Details<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--Events Menu End-->
            <!--blog Menu Star-->
            <li class="menu-item-has-children">
                <a href="#">Blog</a>
                <ul class="list-unstyled">
                    <li class="sub-nav"><a href="blog.html">Blog<span class="icon"></span></a></li>
                    <li class="sub-nav"><a href="blog-details.html">Blog Details<span class="icon"></span></a></li>
                </ul>
            </li>
            <!--blog Menu End-->
            <li><a href="contact.html">Contact<span class="icon"></span></a></li>
        </ul>
        <div class="search-wrap">
            <label class="screen-reader-text">Search for:</label>
            <input type="search" placeholder="Search..." name="s" class="search-input" value="">
            <button type="submit" value="Search"><i class="fa fa-search"></i></button>
        </div>
    </nav>
    <!-- Canvas Menu end -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/genjs/owl.carousel.min.js"></script>
    <script src="~/Scripts/genjs/slick.min.js"></script>
    <script src="~/Scripts/genjs/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/genjs/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/genjs/wow.min.js"></script>
    @*<script src="~/Scripts/genjs/waypoints.min.js"></script>*@
    @*<script src="~/Scripts/genjs/jquery.counterup.min.js"></script>*@
    <script src="~/Scripts/genjs/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/rsmenu-main.js"></script>
    <script src="~/Scripts/genjs/plugins.js"></script>
    <script src="~/Scripts/genjs/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
