<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/homecss")
    <link href="~/Content/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/sb-admin-2.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.easing.js"></script>
    <script src="~/Scripts/js/sb-admin-2.js"></script>
</head>
<body class="bg-gradient-primary">
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
