@model SikkimRepository.Entities.CustomModels.TestimonialManageModel
<div id="DataGrid">
    @if (Model.TestimonialView.Count() > 0)
    {
        <div class="table-responsive p-2">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" style="vertical-align:middle">
                            Name
                        </th>
                        <th class="text-center" style="vertical-align:middle">
                            Testimonial Date
                        </th>
                        <th class="text-center" style="vertical-align:middle">
                            Component
                        </th>
                        <th class="text-center" style="vertical-align:middle">
                            Sub Component
                        </th>
                        <th class="text-center" style="vertical-align:middle">
                            Published
                        </th>
                        <th class="text-center" style="vertical-align:middle">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TestimonialView)
                    {
                        <tr>
                            <td class="text-center">
                                <small>@item.Name</small>
                            </td>
                            <td class="text-center">
                                <small>@item.TestimonialDate.ToString("dd MMM yyyy")</small>
                            </td>
                            <td class="text-center">
                                <small>@item.ComponentName</small>
                            </td>
                            <td class="text-center">
                                <small> @item.SubComponentName</small>
                            </td>
                            <td class="text-center">
                                @if (User.IsInRole("DeptAdmin"))
                                {
                                    <form method="post" action="@Url.Action("PublishTestimonial", "Testimonial", new { Area = "Admin" })" data-otf-ajax="true" data-otf-target="#DataGrid">
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("ID", item.TestimonialsID)
                                        @if (item.IsPublished == "Yes")
                                        {
                                            <a href="@Url.Action("PublishTestimonial", "Testimonial", new { Area = "Admin", ID = item.TestimonialsID, IsPublished = false })" class="btn btn-block btn-outline-danger btn-sm unpublish" data-toggle="tooltip" data-placement="bottom" title="UnPublish" data-record="@item.Name">
                                                Undo Publish
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("PublishTestimonial", "Testimonial", new { Area = "Admin", ID = item.TestimonialsID, IsPublished = true })" class="btn btn-block btn-outline-success btn-sm publish" data-toggle="tooltip" data-placement="bottom" title="Publish" data-record="@item.Name">
                                                Publish Now
                                            </a>
                                        }
                                    </form>
                                }
                                else
                                {
                                    @item.IsPublished
                                }
                            </td>
                            <td class="text-center" style="width: 80px;">
                                <div style="float: right;">
                                    <div style="float:left; padding-right: 5px;">
                                        <a href="@Url.Action("Edit", "testimonial",new { @Area="Admin", id = item.TestimonialsID})" data-toggle="tooltip" data-placement="bottom" title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                                    <div style="float:left; padding-right: 8px;">
                                        <form action="@Url.Action("Delete", "testimonial", new { @Area="Admin"})" method="post" data-otf-ajax="true" data-otf-target="#DataGrid">
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("id", item.TestimonialsID)
                                            <a href="@Url.Action("Delete", "testimonial", new { @Area = "Admin", id = item.TestimonialsID })" class="delete" data-toggle="tooltip" data-placement="bottom" title="Delete" data-record="@item.Name">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>

            <div class="ns-grid-pager" data-otf-target="#DataGrid">
                <div class="hidden-xs col-md-3 col-sm-3">
                    @Model.PagingInfo.TotalItems Record(s)
                </div>
                <div class="text-black-50 visible-lg visible-md visible-sm visible-xs col-md-9 col-sm-9 ns-pagination" data-otf-target="#DataGrid" data-otf-actionlink="/admin/testimonial/index">
                    @Html.PageLinks(Model.PagingInfo, x => Url.Action("index", "testimonial", new { @Area = "Admin", PageNo = x, PageSize = Model.PagingInfo.ItemsPerPage }))
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="small font-weight-bold m-4">No record(s) found... </h4>
    }
</div>
@*error message*@
<div id="ErrMsg" style="display:none;">
    <input type="hidden" id="ErrMsgHiddenField" name="ErrMsg" value="@TempData["ErrMsg"]" />
</div>





